In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("/Users/aaditya.paliwal/Desktop/regression_ml_end2end/data/raw/house_usa.csv")

In [5]:
df.shape

(884092, 39)

In [7]:
pd.set_option("display.max_columns", None)

In [8]:
df.head(5)

,date,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,median_dom,avg_sale_to_list,sold_above_list,off_market_in_two_weeks,city,zipcode,year,bank,bus,hospital,mall,park,restaurant,school,station,supermarket,Total Population,Median Age,Per Capita Income,Total Families Below Poverty,Total Housing Units,Median Rent,Median Home Value,Total Labor Force,Unemployed Population,Total School Age Population,Total School Enrollment,Median Commute Time,price,city_full
0,2012-03-31,46550.0,217450.0,31.813674,110.183666,14.0,23.0,44.0,64.0,59.5,0.943662,0.142857,0.043478,ATL,30002,2012,12.0,2.0,4.0,1.0,60.0,45.0,57.0,4.0,7.0,5811.0,36.3,33052.0,5811.0,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,200773.999557,Atlanta-Sandy Springs-Alpharetta
1,2012-04-30,61870.0,245000.0,40.723982,130.528256,22.0,29.0,56.0,69.0,89.5,0.946642,0.090909,0.034483,ATL,30002,2012,12.0,2.0,4.0,1.0,60.0,45.0,57.0,4.0,7.0,5811.0,36.3,33052.0,5811.0,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202421.064584,Atlanta-Sandy Springs-Alpharetta
2,2012-05-31,125500.0,217450.0,63.913043,119.919216,24.0,40.0,63.0,60.0,144.5,0.955624,0.208333,0.100000,ATL,30002,2012,12.0,2.0,4.0,1.0,60.0,45.0,57.0,4.0,7.0,5811.0,36.3,33052.0,5811.0,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202681.309539,Atlanta-Sandy Springs-Alpharetta
3,2012-06-30,153000.0,189900.0,81.598080,105.617353,34.0,46.0,50.0,57.0,126.0,0.970608,0.176471,0.108696,ATL,30002,2012,12.0,2.0,4.0,1.0,60.0,45.0,57.0,4.0,7.0,5811.0,36.3,33052.0,5811.0,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202998.603897,Atlanta-Sandy Springs-Alpharetta
4,2012-07-31,165500.0,154000.0,81.598080,83.921175,39.0,49.0,42.0,50.0,80.0,0.982105,0.256410,0.102041,ATL,30002,2012,12.0,2.0,3.0,1.0,60.0,45.0,57.0,4.0,6.0,5811.0,36.3,33052.0,5811.0,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,203781.903446,Atlanta-Sandy Springs-Alpharetta

In [9]:
df.dtypes

date                             object
median_sale_price               float64
median_list_price               float64
median_ppsf                     float64
median_list_ppsf                float64
homes_sold                      float64
pending_sales                   float64
new_listings                    float64
inventory                       float64
median_dom                      float64
avg_sale_to_list                float64
sold_above_list                 float64
off_market_in_two_weeks         float64
city                             object
zipcode                           int64
year                              int64
bank                            float64
bus                             float64
hospital                        float64
mall                            float64
park                            float64
restaurant                      float64
school                          float64
station                         float64
supermarket                     float64
Total Population                float64
Median Age                      float64
Per Capita Income               float64
Total Families Below Poverty    float64
Total Housing Units             float64
Median Rent                     float64
Median Home Value               float64
Total Labor Force               float64
Unemployed Population           float64
Total School Age Population     float64
Total School Enrollment         float64
Median Commute Time             float64
price                           float64
city_full                        object
dtype: object

In [11]:
df['date'] = pd.to_datetime(df['date'])

In [12]:
df['date'].dt.year.value_counts()

date
2013    74712
2014    74712
2015    74712
2016    74712
2017    74712
2018    74712
2019    74712
2020    74712
2021    74712
2022    74712
2023    74712
2012    62260
Name: count, dtype: int64

In [14]:
df = df.sort_values(by='date')

### Splitting time series data - to avoid leakage

1. Train Set would be from 2012-19 - Clean training 
2. Dev set would be from 2020-21 - For hyperparameter tuning
3. Test set would be 2022-23 - Unbiased testing data

In [17]:
df_train = df.loc[df.date.dt.year < 2020]
df_dev = df.loc[(df.date.dt.year >= 2020) & (df.date.dt.year <= 2021)]
df_test = df.loc[(df.date.dt.year >= 2022) & (df.date.dt.year <= 2023)]

print("Train shape : ", df_train.shape)
print("Dev shape : ", df_dev.shape)
print("Test shape : ", df_test.shape)

Train shape :  (585244, 39)
Dev shape :  (149424, 39)
Test shape :  (149424, 39)

In [18]:
df_train.to_csv("/Users/aaditya.paliwal/Desktop/regression_ml_end2end/data/raw/train.csv")
df_dev.to_csv("/Users/aaditya.paliwal/Desktop/regression_ml_end2end/data/raw/dev.csv")
df_test.to_csv("/Users/aaditya.paliwal/Desktop/regression_ml_end2end/data/raw/test.csv")

In [21]:
df.city_full.isnull().sum()

np.int64(0)

In [24]:
df[df.zipcode==94060]['city_full']

814370    San Francisco-Oakland-Berkeley
814371    San Francisco-Oakland-Berkeley
814372    San Francisco-Oakland-Berkeley
814373    San Francisco-Oakland-Berkeley
814374    San Francisco-Oakland-Berkeley
                       ...
814507    San Francisco-Oakland-Berkeley
814508    San Francisco-Oakland-Berkeley
814509    San Francisco-Oakland-Berkeley
814510    San Francisco-Oakland-Berkeley
814511    San Francisco-Oakland-Berkeley
Name: city_full, Length: 142, dtype: object